<div class="container color-dark">
  <h2>Tournament Info</h2>
</div>
<div class="container color-light">
  <form class="col-6">
    <div class="form-group">
      <select class="form-control" id="format">
        <option>Select a format...</option>
        <option>Standard</option>
        <option>Modern</option>
        <option>Commander/EDH</option>
      </select>
    </div>
    <div class="form-group">
      <label for="entryFee">Entry Fee:</label>
      <input type="number" class="form-control" id="entryFee">
    </div>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" id="percent" name="optradio" value="showPercent" (click)= "checked=true; showPercent=true; showFlat=false">Percentage
      </label>
    </div>
    <div class="form-check-inline">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" id="flat" name="optradio" value="showFlat" (click)= "checked=true; showFlat=true; showPercent=false">Flat rate
      </label>
    </div>
    <div  id="showPercent" *ngIf="showPercent">
      <p>Show percentage form</p>
    </div>
    <div id="showFlat" *ngIf="showFlat">
      <p>Show flat rate form</p>
    </div>
  </form>
</div>

<!-- 
 -->